.menu-btn {
   border-color: transparent !important; /* bootstrap style remove of navbar-toggler class */
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
/* width: 80px; default width */
  width: 57px;
  height: 45px;
  cursor: pointer;
/*  box-shadow: 0px 0 10px 5px rgba(178, 178, 178, 0.3);*/
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
/* border: 3px solid #fff; */
}
.menu-btn__burger {
  width: 35px;
  height: 3px;
  background: #FF3342;
  border-radius: 5px;
/*  box-shadow: 0 2px 5px rgba(255,101,47,.2);*/
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 35px;
  height: 3px;
  background: #FF3342;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
  -webkit-transform: translateY(-11px);
  -ms-transform: translateY(-11px);
  transform: translateY(-11px);
}
.menu-btn__burger::after {
  -webkit-transform: translateY(11px);
  -ms-transform: translateY(11px);
  transform: translateY(11px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  -webkit-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
 -webkit-transform: rotate(45deg) translate(35px, -35px); 
 -ms-transform: rotate(45deg) translate(35px, -35px); 
 transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
  -ms-transform: rotate(-45deg) translate(35px, 35px);
  transform: rotate(-45deg) translate(35px, 35px);
}
